<div class="pure-g">
  <div class="left-col">
    {% if include.index == 1 %}
    <h2 class="{{ include.level }}">
      {{ include.title }}
    </h2>
    {% endif %}
  </div>
  <div class="center-col">
    <div class="content-row">
      <div class="left-right-spaced reverse-col">
        <span>
          <div class="headline">
            {% if include.style == "b" %}
            <b>{{ include.item.name }}</b>
            {% elsif include.style == "em" %}
            <em>{{ include.item.name }}</em>
            {% endif %}
            {% if include.item.link %}
            <a href="{{ item.link }}"><i class="fas fa-external-link-alt"></i></a>
            {% endif %}
            {% if include.item.location %}
            ({{ include.item.location }})
            {% endif %}
          </div>
          <div class="tagline1">
            {% if include.item.line1 %}
              <p>{{ include.item.line1 | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
          <div class="tagline2">
            {% if include.item.line2 %}
              <p>{{ include.item.line2 | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}
          </div>
        </span>
        <span class="years">{{ include.item.date }}</span>
      </div>
    </div>
  </div>
</div>