<div class="content-block">
  {% for section in include.data %}
    {% if section.hide %}
    {% else %}
      {% if section.items %}
          {% for item in section.items %}
              {% assign index = forloop.index %}
              {% include data_row.html title=section.title level=section.level style=section.style item=item index=index%}
          {% endfor %}
      {% else %}
          {% include text_row.html title=section.title content=section.string level=section.level %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
