@import "purecss";
@import "helpers";

// colors
$base-gray: #373D3F;
$years-gray: rgb(153, 153, 153);

$red: #C02F1D;
$dark-red: #5f2119;

$link-blue: #39f;

$bg: #f6f6f6;

// fonts
$base-font-family: Gotham, Avenir, Verdana, sans-serif;
$title-font-family:  Caslon, Avenir, Verdana, sans-serif;
$year-font-family: Gotham, Menlo, monospace, sans-serif;

// Reset some stylings
h1,
h2 {
    margin: 0 0;
    font-weight: normal;
}

body {
    // Typography
    background-color: $bg;
    color: $base-gray;
    font-family: $base-font-family;
    font-size: 100%;
    line-height: 1.8em;

    .pure-g {
        font-family: $base-font-family;
    }

    // Page margins:2em 2em;
    padding-left: 10%;
    padding-right: 10%;
    @include breakpoint(xl){
        padding-right: 15%;
    }

    margin-right: 0em;
    @include breakpoint(md){
        margin-right: 0em;
    }
    @include breakpoint(lg){
        margin-right: 0em;
    }
    @include breakpoint(xl){
        margin-right: 4em;
    }

        // the grid layout
    .left-col {
        @extend .pure-u-1;
        @extend .pure-u-sm-1;
        @extend .pure-u-lg-1-4;

        @include breakpoint(lg){
            text-align: right;
        }
    }

    .center-col {
        @extend .pure-u-1;
        @extend .pure-u-sm-1;
        @extend .pure-u-lg-3-4;
    }

    .reverse-col {
        flex-direction: column-reverse;
        @include breakpoint(sm){
            flex-direction: row;
        }
    }

    #title {
        font-family: $title-font-family;
        font-weight: bold;
        font-size: 2.5em;
        @include breakpoint(lg){
            font-size: 3.5em;
        }
        line-height: 1em;
        margin-bottom: 0em;
        margin-top: 1em;
    }

    #subtitle {
        font-family: $title-font-family;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5em;
        @include breakpoint(lg){
            font-size: 2em;
        }
        margin-top: .5em;
        margin-bottom: 1em;
    }

    #webaddress {
        margin-bottom: 1em;
        font-size: 1.1em;

        i {
            padding-right: 5px;
        }

        a {
            font-family: $year-font-family;
            color: $red;
            white-space: nowrap;
            text-decoration: none;

            &:hover {
                color: $link-blue;
            }
        }

    }

    .section {
        color: $red;
        font-size: 1.3em;
        padding-bottom: .2em;
        @include breakpoint(lg){
            padding-right: 3em;
        }
    }

    .subsection {
        font-size: 1.15em;
        padding-bottom: .2em;
        @include breakpoint(md){
            margin-bottom: 0;
        }
        @include breakpoint(lg){
            padding-right: 3em;
        }
    }

    // The actual dynamic content
    .content-block {
        margin-top: 2em;

        ul {
            margin-top: 0em;
            margin-bottom: 0em;
            list-style-type: none;
            list-style-position: outside;
            // padding-left: 1em;

            li > ul {
                padding-bottom: .5em;
                list-style-position: outside;
            }

            li {
                padding-top: .07em;
            }
        }

        .simpleText>ul {
            padding: 0;
        }

        li::before {
            content: "N";
            font-family: "Pfeile";
            padding-right: .5em;
        }

        p {
            margin-top: 0em;
            margin-bottom: 0em;
        }

        .content-row {
            padding-bottom: 1em;
            padding-left: .6em;
    
            @include breakpoint(md){
                padding-left: 0em;
            }
    
            .tagline {
                font-size: 95%;
            }
    
            a {
                @include word-wrap;
                color: $base-gray;
                
                &:hover {
                    color: $link-blue;
                }
            }
    
            .left-right-spaced {
                display: flex;
                justify-content: space-between;
    
                .years {
                    font-family: $year-font-family;
                    color: $years-gray;
                    font-size: 90%;
    
                    margin-left: 0em;
                    text-align: left;
                    @include breakpoint(sm){
                        text-align: right;
                        margin-left: 2em;
                    }
                }
            }
        }
    }
}