$red: #C02F1D;
$dark-red: #5f2119;
$link-blue: #39f;
$years-gray: #aaa;
$base-gray: #373D3F;

$raven-gray: #6f747b;
$bg: #f6f6f6;

body {
    background-color: $bg;
    color: $base-gray;

    font-family: Avenir, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    margin-top: 2em;
    margin-right: 5em;

    // margin:2em 2em;
    padding-left: 10%;
    padding-right: 10%;

    h1,
    h2 {
        margin: 0 0;
        font-weight: 400;
    }

    .left-col {
        @extend .pure-u-1;
        @extend .pure-u-sm-1;
        @extend .pure-u-md-1-6;

        @include breakpoint(md){
            text-align: right;
            padding-right: 4em;
        }
    }

    .center-col {
        @extend .pure-u-1;
        @extend .pure-u-sm-1;
        @extend .pure-u-md-2-3;
    }

    .right-col {
        @extend .pure-u-1;
        @extend .pure-u-sm-1;
        @extend .pure-u-md-1-6;
    }

    .reverse-col {
        flex-direction: column-reverse;
        @include breakpoint(sm){
            flex-direction: row;
        }
    }

    #title {
        font-size: 3em;
        line-height: 1em;
        margin-bottom: 0em;
        margin-top: 1em;
    }

    #subtitle {
        font-style: italic;
        font-size: 1.3em;
        margin-top: .5em;
        margin-bottom: 1em;
    }

    .section {
        color: $red;
        font-size: 1.2em;
    }

    .subsection {
        // color: $red;
        font-size: 1.1em;
        padding-bottom: .3em;
        @include breakpoint(md){
            margin-bottom: 0;
        }
    }

    a {
        &:hover {
            color: $link-blue
        }
    }

    #webaddress {
        margin-bottom: 1em;

        a {
            font-family: Monaco, Menlo, monospace, sans-serif;
            font-size: 100%;
            color: $red;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    i {
        padding-right: 5px;
    }

    .unit {
        margin-top: 2em;



        ul {
            margin-top: 0em;
            margin-bottom: 0em;
            list-style-type: none;
        }

        .simpleText>ul {
            padding: 0;
        }

        p {
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }

    .entry {
        padding-bottom: 1em;
        padding-left: .6em;

        @include breakpoint(md){
            padding-left: 0em;
        }

        .tagline {
            font-size: 95%;
        }

        a {
            @include word-wrap;
            color: $base-gray;
        }

        .left-right-spaced {
            display: flex;
            justify-content: space-between;

            .years {
                font-family: Monaco, Menlo, monospace, sans-serif;
                color: $years-gray;
                font-size: 90%;

                margin-left: 0em;
                text-align: left;
                @include breakpoint(sm){
                    text-align: right;
                    margin-left: 2em;
                }
            }
        }
    }
}