$light-gray: #ccc;

body {
	font-size: 12pt;
	line-height: 1.35em;
	// margin: 2em 2em 2em 2em;

	p {
		// left: $left-margin;
		margin-bottom: 0.2em;
		width: 60%;
	}

	code {
		color: $light-gray;
	}


	ul {
		margin-bottom: 1em;
	}

	h2 {
		color: #a00;
		margin-top: 1em;
		position: relative;
		top: 1.2em;
	}

	h3 {
		color: $light-gray;
		top: 1.6em;
	}

	a {
		text-decoration: none
	}

	#webaddress p {
		margin-top: 1em;
		position: relative;
		left: 25%;
		color: $light-gray;
		font-family: Monaco, Menlo, monospace, sans-serif;
		font-size: 90%;

		a {
			text-decoration: none;
		}
	}

	em {
		font-style: normal;
		color: #2d4e5e;
	}

}