@media print {
    header, footer, aside, form {
        display: none;
    }

	body {
		margin: 1cm;
		padding: 0cm;

		// Typography
		background-color: $bg;
		color: $base-gray;
		font-family: $base-font-family;
		font-size: small;
		line-height: 1.4em;

		.reverse-col {
			flex-direction: row;
		}
	
		#title {
			font-size: 2em;
			line-height: 1em;
			margin-bottom: 0em;
			margin-top: 0em;
		}
	
		#subtitle {
			font-style: italic;
			font-size: 1.3em;
			margin-top: .5em;
			margin-bottom: 1em;
		}
	
		.section {
			color: $red;
			font-size: 1.2em;
			margin-bottom: 0em;
			padding-top: .3em;
		}
	
		.subsection {
			// color: $red;
			font-size: 1.1em;
			padding-bottom: 0em;
			padding-top: .3em;
			// margin-bottom: .2em;
		}
	
		#webaddress {
			margin-bottom: 1em;
	
			a {
				font-size: 100%;
				color: $red;
				text-decoration: none;
			}
		}
	
		// The actual dynamic content
		.content-block {
			margin-top: .3em;
	
			ul {
				margin-top: 0em;
				margin-bottom: 0em;
				list-style-type: none;
				list-style-position: outside;
				// padding-left: 1em;
	
				li > ul {
					padding-bottom: .1em;
					list-style-position: outside;
				}
	
				li {
					padding-top: 0em;
				}
			}
	
			.simpleText>ul {
				padding: 0;
			}
	
			li::before {
				content: "N";
				font-family: "Pfeile";
				padding-right: .5em;
			}
	
			p {
				margin-top: 0em;
				margin-bottom: 0em;
			}
	
			.content-row {
				padding-bottom: .5em;
				padding-left: 0em;
			}
		}
	}
}