// Shared design tokens
$base-gray: #373D3F;
$years-gray: rgb(153, 153, 153);

$red: #C02F1D;
$dark-red: #5f2119;

$link-blue: #39f;

$bg: #f6f6f6;

$base-font-family: Gotham, Avenir, Verdana, sans-serif;
$title-font-family: Caslon, Avenir, Verdana, sans-serif;
$year-font-family: Gotham, Menlo, monospace, sans-serif;
