@import "font-awesome";

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-BookItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Medium.otf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Caslon";
  src: url("../fonts/adobe-caslon-pro/ACaslonPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caslon";
  src: url("../fonts/adobe-caslon-pro/ACaslonPro-Semibold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caslon";
  src: url("../fonts/adobe-caslon-pro/ACaslonPro-SemiboldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Caslon";
  src: url("../fonts/adobe-caslon-pro/ACaslonPro-Italic.otf");
  font-weight: normal;
  font-style: italic;
}