<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ '/assets/css/screen.css' | relative_url }}" rel="stylesheet" media="screen">
  <link href="{{ '/assets/css/print.css' | relative_url }}" rel="stylesheet" media="print">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/base-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
  <title> {{ page.title }} </title>
</head>

{% assign data = site.data %}

<body>
  <div id="content">
    <div class="pure-g">
      <div class="left-col"></div>
      <div class="center-col">
        <h1 id="title">
          {{ data.bio.name}}
        </h1>
        <div id="subtitle">
          {{ data.bio.position }}
        </div>
      </div>
    </div>

    {% include webaddress.html bio=data.bio %}

    {% include text_section.html data=data.summary %}

    {% include text_section.html data=data.skills %}

    {% include data_section.html data=data.education %}

    {% include data_section.html data=data.jobs %}

    {% include data_section.html data=data.awards %}

    {% include bib_section.html data=data.papers %}

    {% include bib_section.html data=data.talks %}

    {% include bib_section.html data=data.teaching %}

    {% include data_section.html data=data.service %}

  </div>
</body>
<!-- <footer>
  <p>Author: Hege Refsnes</p>
  <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</footer> -->

</html>